.main-content
{
    margin-left: 335px;
    width: 100%;
    min-height:100vh;
    height:100vh;
}

.smooth-update {
    transition: opacity 0.3s ease-in-out;
    opacity:0;
}

.nav-link
{
    padding: 8px 8px;
}

.nav-link:hover
{
    background: rgba(152,152,152,0.2);
    padding: 8px 8px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background: rgba(152,152,152,0.2);
    padding: 8px 8px;
}

/* DaHee css */

.userPage_content {
    padding: 30px 20px 0;
    margin: 0 auto 30px;
    /*margin-bottom: 0;*/
    width: 950px;
    max-width: 950px;
    height: 100%;
}

.userPage_content_inner {
    height: 100%;
}

.user_header {
    display: flex;
    min-height: 150px;
    height: 150px;
    margin-bottom: 44px;
}

.user_photo {
    flex-grow: 2;
    height: 100%;
    margin-right: 30px;
}

.userProfile_img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.userProfile_btn {
    padding: 0;
    margin: 0;
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid #d5d4d2;

}

.userProfile_line {
    border: 1px solid #dbdbdb;
}

.userInfo {
    flex-grow: 2;
}

.userInfo_header {
    min-height: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.userID {
    line-height: 25px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 7px;
}

.btn_area {
    display: flex;
    width: 265px;
    margin-left: 20px;
}

.btn_userInfo, .btn_message {
    background-color: #efefef;

    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}
.btn_userInfo:hover, .btn_message:hover {
    background-color: #dbdbdb;
}

.setting {
    width: 40px;
    margin-left: 5px;
}

.highlight_btn {
    border: 1px solid #dbdbdb;
}

.highlight_img {
    color: #c7c7c7;
    position: relative;
    display: block;
}

.highlight_line {
    height: 87px;
    width: 87px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.plus_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_follow {
    display: flex;
    align-items: center;
    height: 32px;
    color: #fff;
    background-color: #0095f6;
    border-color: #0095f6;
    border-radius: 8px;

}
.btn_follow:hover {
    color: #fff;
    background-color: #1877f2;
    border-color: #1877f2;
}
.btn_follow:active {
    color: #fff;
    background-color: #1877f2;
    border-color: #1877f2;
}