<!DOCTYPE html>
<html layout:decorate="~{Layout/layout_main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/search/css/search_content.css}">
</head>
<div layout:fragment="content">
    <div class = "search-content">
        <div class = "search-container border mb-3">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="검색어를 입력해주세요" aria-describedby="basic-addon2" id="keyword" name="keyword" size="15">
            </div>
            <div class = "search-list" id="searchList">
            </div>
        </div>
        <a th:href="@{/explore/location}" class="btn btn-primary float-end"> 장소검색 (Beta) </a>
    </div>
    <script src="/search/js/search.js"> </script>
</div>
</html>
