<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<!-- 기본 템플릿 안에 삽입될 콘텐츠 Start -->
<th:block layout:fragment="content"></th:block>
<th:block layout:fragment="footer"></th:block>
<!-- 기본 템플릿 안에 삽입될 콘텐츠 End -->
<!-- Bootstrap JS -->
<script th:src="@{/css/bootstrap.min.js}"></script>
<!-- Bootstrap Bundle-->
<script th:src="@{/css/bootstrap.bundle.js}"></script>
</body>
</html>
