<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- Style CSS(layout.css) -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<!-- 사이드 메뉴바 -->
<div th:replace="~{Layout/sidebar :: sidebarFragment}"></div>
<!-- 전역 만들기 모달창 -->
<div th:replace="~{Layout/create_Modal :: createmodalFragment}"></div>
<!-- Bootstrap JS -->
<script th:src="@{/css/bootstrap.min.js}"></script>
<!-- Bootstrap Bundle-->
<script th:src="@{/css/bootstrap.bundle.js}"></script>
<!-- 기본 템플릿 안에 삽입될 콘텐츠 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 콘텐츠 End -->
<!-- 실시간 알림 SSE -->
<script th:src="@{/notice/js/notice.js}"></script>
</body>
</html>
