<div id="notifyFragment" th:fragment="notifyFragment">

    <div class="mb-4">
        <h4><b>알림</b></h4>
    </div>

    <div th:each="notice, status : ${notices}">
        <!-- period가 1일 때 "이번 주"를 표시 -->
        <span class="d-flex mb-3" th:if="${notice.period == 1 && status.first}"><b>이번 주</b></span>

        <!-- period가 2일 때 "이번 달"을 표시 -->
        <span class="d-flex mt-3 mb-3" th:if="${notice.period == 2 && notices[status.index - 1]?.period == 1}"><b>이번 달</b></span>

        <!-- period가 3일 때 "이전 활동"을 표시 -->
        <span class="d-flex mt-3 mb-3" th:if="${notice.period == 3 && notices[status.index - 1]?.period == 2}"><b>이전 활동</b></span>

        <div class="d-flex" th:id="@{|notice-${notice.id}|}">
            <div>
                <div style="position: relative; width: 44px; height: 44px;">
                    <img th:if="${notice.requestMember.Image == null}"
                         src="/files/designImg/noneuser.png"
                         class="rounded-circle text-center"
                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                    <img th:unless="${notice.requestMember.Image == null}"
                         th:src="@{|/resources/${notice.requestMember.Image.name}|}"
                         class="rounded-circle text-center"
                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                </div>
            </div>
            <div th:if="${notice.type == 1}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 회원님의 사진을 좋아합니다.|}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 2}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 댓글을 남겼습니다.|}"></span>
                        <span th:utext="${notice.commentContent}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 3}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 회원님의 댓글을 좋아합니다: |}"></span>
                        <span th:utext="@{|${notice.commentContent}|}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 4}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 댓글을 남겼습니다.|}"></span>
                        <span th:utext="@{|${notice.recommentContent}|}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 5}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 회원님의 댓글을 좋아합니다: |}"></span>
                        <span th:utext="@{|${notice.recommentContent}|}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 6}">
                <div class="d-flex">
                    <div class="ms-2" style="width: 244px">
                        <input type="hidden" th:value="${notice.requestMember.username}">
                        <span th:text="@{|${notice.requestMember.username}님이 게시글에서 회원님을 언급했습니다.|}"></span>
                        <span th:utext="@{|${notice.boardContent}|}"></span>
                        <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                    </div>
                    <div class="ms-2">
                        <img th:src="@{|${notice.boardMainImage}|}"
                             class="text-center"
                             style="position: relative; top: 0; left: 0; transform: translate(50,50); width: 44px; height: 44px; object-fit: cover; margin: auto">
                    </div>
                </div>
            </div>
            <div th:if="${notice.type == 8}">

                    <div class="d-flex">
                        <a th:href="@{'/member/page/' + ${notice.requestMember.username}}">
                        <div class="ms-2" style="width: 200px">
                            <input type="hidden" th:value="${notice.requestMember.username}" id="username">
                            <span th:if="${not notice.follow and notice.follower or notice.follow}" th:text="@{|${notice.requestMember.username}님이 회원님을 팔로우하기 시작했습니다|}"></span>
                            <span th:unless="${not notice.follow and notice.follower or notice.follow}" th:text="@{|${notice.requestMember.username}님이 팔로우를 요청했습니다.|}"></span>
                            <span th:text="@{|${notice.elapsedTime}|}" style="color: grey;"></span>
                        </div>
                        </a>
                        <div style="width: 140px" th:id="${notice.id}">
                            <div id="apply-container" th:if="${not notice.follower}" class="d-flex align-items-center">
                                <button id="apply-btn" class="ms-2 btn btn-primary text-light"
                                        style="font-size: 10px; height: 32px" onclick="clickFollowApply()">
                                    <span id="request-follow-spin" class="visually-hidden spinner-border spinner-border-sm"
                                          aria-hidden="true"></span>
                                    <span class="request-follow-text">
                                    확인
                                </span>
                                </button>
                                <button id="no-btn" class="ms-2 btn btn-outline-secondary"
                                        style="font-size: 10px; height: 32px"
                                        th:onclick="@{|clickFollowDelete(${notice.id})|}">
                                    삭제
                                </button>
                            </div>
                            <div id="follow-container" th:unless="${not notice.follower}" >
                                <div th:if="${not notice.follow and notice.follower or notice.follow}">
                                    <button id="follow-btn" class="ms-2 btn w-75"
                                            th:classappend="${notice.follow}?'btn-outline-secondary':'btn-primary text-light'"
                                            style="font-size: 10px; height: 32px" th:onclick="@{|clickFollowSwap(${notice.id})|}">
                                        <span id="follow-spin" class="visually-hidden spinner-border spinner-border-sm"
                                              aria-hidden="true"></span>
                                        <span id="follow-text" th:text="${notice.follow}?'팔로잉':'팔로우'"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script>

        // -------------------------- 8-1 : 팔로우 관련 스크립트 시작(이번주) ---------------------
        function clickFollowApply() {
            var username = document.getElementById('username').value;
            var spin = document.getElementById('request-follow-spin');
            var texts = document.getElementsByClassName('request-follow-text');

            for (var i = 0; i < texts.length; i++) {
                texts.item(i).textContent = '';
            }
            spin.classList.remove('visually-hidden');

            fetch('/member/requestFollow/' + username)
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    spin.classList.add('visually-hidden');
                    var apply = document.getElementById('apply-container');
                    var follow = document.getElementById('follow-container');
                    if (data.result) {
                        apply.classList.add('visually-hidden');
                        follow.classList.remove('visually-hidden');
                    }
                })
                .catch(error => console.error('데이터를 받지 못했습니다.', error));

            setTimeout(reloadDivArea, 100);
        }

        function clickFollowDelete(id) {
            debugger;
            fetch("/member/requestFollow/delete/" + id)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    var container = document.getElementById('notice-' + id);

                    container.classList.add('visually-hidden');
                })
                .catch(error => console.error('데이터를 받지 못했습니다.', error));
        }

        function clickFollowSwap(id) {
            var username = document.getElementById('username').value;
            var spin = document.getElementById('follow-spin');
            var text = document.getElementById('follow-text');
            var btn = document.getElementById('follow-btn');

            text.textContent = '';

            spin.classList.remove('visually-hidden');

            fetch('/member/follow/' + username)
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    setTimeout(function () {
                        spin.classList.add('visually-hidden');
                        if (data.result) {
                            text.textContent = '팔로잉';

                            btn.classList = 'ms-2 btn btn-outline-secondary w-75';
                        } else {
                            text.textContent = '팔로우';

                            btn.classList = 'ms-2 btn btn-primary text-light w-75';
                        }
                    }, 1500);
                })
                .catch(error => console.error('데이터를 받지 못했습니다.', error));


        }

        // 비공개 계정에 대한 팔로우 요청시 Notify 요소만 새로고침 하기 위한 함수
        function reloadDivArea() {
            $('#notifyFragment').load(location.href+' #notifyFragment');
        }

        // -------------------------- 8 : 팔로우 관련 스크립트 종료 --------------------------

    </script>
    <script src="/notice/js/notice.js"> </script>
</div>