<div th:fragment="searchFragment" class="search_layout">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/search/css/search_content.css}">
    </head>

    <div class="search-content">
        <div class="search_title">
            <div>
                <span class="search_title_text">검색</span>
            </div>
        </div>
        <div class="search-container">
            <div class="input-group search d-flex">
                <input type="text" class="search_box" placeholder="검색어를 입력해주세요." aria-describedby="basic-addon2"
                       id="keyword" name="keyword" size="15">
            </div>

            <hr class="search_line">

            <div class="search-container">
                <div class="search_list_layout">
                    <div id="searchListInit">
                        <div class="searchListInitHeader">
                            <span class="search_category_text">최근 검색 항목</span>
                            <button class="btn_search">모두 지우기</button>
                        </div>
                        <div class="searchListInitBody">
                            <div th:each="searchResult : ${searches}">
                                <div th:if="${searchResult.searchType == 1}">
                                    <a th:href="'/member/page/' + ${searchResult.listName}" target="_blank" class="link">
                                        <div class="search-list-box">
                                            <div class="search-profile">
                                                <img th:if="${searchResult.listImage != null and searchResult.listImage != ''}" th:src="@{'/resources/' + ${searchResult.listImage}}" class="search-profile-image rounded-circle text-center" />
                                                <img th:unless="${searchResult.listImage != null and searchResult.listImage != ''}" src="/files/designImg/noneuser.png" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                                <div class="search-userintroduction" th:text="${searchResult.listIntroduction}"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div th:if="${searchResult.searchType == 2}">
                                    <a th:href="@{'/explore/locations/' + ${searchResult.listLocationId}}" target="_blank" class="link">
                                        <div class="search-list-box">
                                            <div class="search-profile">
                                                <img src="/files/designImg/locationBase.png" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                                <div class="search-userintroduction" th:text="${searchResult.listIntroduction}"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div th:if="${searchResult.searchType == 3}">
                                    <a th:href="@{'/explore/tags/' + ${searchResult.listHashTagId}}" target="_blank" class="link">
                                        <div class="search-list-box">
                                            <div class="search-profile">
                                                <img src="/files/designImg/hashTag.jpg" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                                <div class="search-userintroduction" th:text="${searchResult.listIntroduction}"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="searchListResult">
                        <div class="h-100" id="searchList"></div>
                    </div>
                </div>
            </div>
            <div id="noResult"></div>
        </div>
        <script src="/search/js/search.js"></script>
    </div>
</div>