<div th:fragment="searchFragment" class="search_layout">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/search/css/search_content.css}">
    </head>

    <div class="search-content">
        <div class="search_title">
            <div>
                <span class="search_title_text">검색</span>
            </div>
        </div>
        <div class="search-container">
            <div class="input-group search d-flex">
                <input type="text" class="search_box" placeholder="검색어를 입력해주세요." aria-describedby="basic-addon2"
                       id="keyword" name="keyword" size="15">
            </div>

            <hr class="search_line">

            <div class="search-container">
                <div class="search_list_layout">
                    <div id="searchListInit">
                        <div class="searchListInitHeader">
                            <span class="search_category_text">최근 검색 항목</span>
                            <button class="btn_search" th:attr="onclick=|allDeleteButtonClicked()|">모두 지우기</button>
                        </div>
                        <div class="searchListInitBody">
                            <div th:each="searchResult : ${searches}">
                                <div th:if="${searchResult.searchType == 1}">
                                    <a th:href="'/member/page/' + ${searchResult.listName}" target="_blank" class="link">
                                        <div id="M1" class="search-list-box" th:id="@{|searchmember-${searchResult.SearchDataIndex}|}" th:attr="onclick=|recentSearchFavoriteUpdate('${searchResult.searchType}', '${searchResult.listName}', event)|">
                                            <div class="search-profile">
                                                <img th:if="${searchResult.listImage != null and searchResult.listImage != ''}" th:src="@{'/resources/' + ${searchResult.listImage}}" class="search-profile-image rounded-circle text-center" />
                                                <img th:unless="${searchResult.listImage != null and searchResult.listImage != ''}" src="/files/designImg/noneuser.png" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                                <div class="search-userintroduction" th:text="${searchResult.listIntroduction}"></div>
                                            </div>
                                            <button type="button" class="delete-button" th:attr="onclick=|deleteButtonClicked(1, event)|"></button>
                                        </div>
                                    </a>
                                </div>
                                <div th:if="${searchResult.searchType == 2}">
                                    <a th:href="@{'/explore/locations/' + ${searchResult.listLocationId}}" target="_blank" class="link">
                                        <div class="search-list-box" th:id="@{|searchlocation-${searchResult.SearchDataIndex}|}" th:attr="onclick=|recentSearchFavoriteUpdate('${searchResult.searchType}', '${searchResult.listLocationId}', event)|">
                                            <div class="search-profile">
                                                <img src="/files/designImg/locationBase.png" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                                <div class="search-userintroduction" th:text="${searchResult.listIntroduction}"></div>
                                            </div>
                                            <button type="button" class="delete-button" th:attr="onclick=|deleteButtonClicked(2, event)|"></button>
                                        </div>
                                    </a>
                                </div>
                                <div th:if="${searchResult.searchType == 3}">
                                    <a th:href="@{'/explore/tags/' + ${searchResult.listHashTagId}}" target="_blank" class="link">
                                        <div class="search-list-box" th:id="@{|searchhashtag-${searchResult.SearchDataIndex}|}" th:attr="onclick=|recentSearchFavoriteUpdate('${searchResult.searchType}', '${searchResult.listName}', event)|">
                                            <div class="search-profile">
                                                <img src="/files/designImg/hashTag.jpg" class="search-profile-image rounded-circle text-center" />
                                            </div>
                                            <div class="search-userinfo">
                                                <div class="search-username" th:text="${searchResult.listName}"></div>
                                            </div>
                                            <button type="button" class="delete-button" th:attr="onclick=|deleteButtonClicked(3, event)|"></button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="searchListResult">
                        <div class="h-100" id="searchList"></div>
                    </div>
                </div>
            </div>
            <div id="noResult"></div>
        </div>
        <script>

            function allDeleteButtonClicked() {

                var token = $("input[name='_csrf']").attr("value");
                var header = $("input[name='_csrf_header']").attr("value");

                var isConfirmedAll = confirm("모든 검색기록을 삭제하시겠습니까?");

                if (isConfirmedAll) {

                    var searchListBoxes = document.querySelectorAll('.search-list-box');

                    searchListBoxes.forEach(searchListBox => {

                        fetch("/search/favorite/deleteAll", {
                            method: "POST",
                            headers: {
                                [header]: token
                            }
                        })
                            .then(response => {

                                searchListBox.remove();
                            })
                            .catch(error => {
                                // 에러 처리
                                alert(error.message);
                            });
                    });
                }
            }

            function recentSearchFavoriteUpdate(searchType, specificName, event) {

                var token = $("input[name='_csrf']").attr("value");
                var header = $("input[name='_csrf_header']").attr("value");

                var body = JSON.stringify({
                    favoriteType: searchType,
                    specificName: specificName
                });

                fetch('/search/favorite/createRecentFavoriteSearch', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        [header]: token
                    },
                    body: body
                })
                    .then(response => {
                    })
                    .catch(error => {
                        // 오류 처리
                        console.error('POST 요청 실패:', error);
                    });

            }

            function deleteButtonClicked(searchType, event) {

                // 링크클릭 이벤트의 기본 동작 막기
                event.preventDefault();

                // 지난검색기록 생성 이벤트 동작 막기 (서로 상반되는 로직이므로 충돌방지 필요)
                event.stopPropagation();

                var token = $("input[name='_csrf']").attr("value");
                var header = $("input[name='_csrf_header']").attr("value");

                // 검색 결과 요소를 찾기
                var searchListBox = event.target.closest('.search-list-box');
                var searchResultId = searchListBox.id;

                fetch("/search/favorite/delete/" + searchResultId, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        [header]: token
                    }
                })
                    .then(response => {
                        searchListBox.remove();
                    })
                    .catch(error => {
                        alert(error.message);
                    });

            }
        </script>
        <script src="/search/js/search.js"></script>
    </div>
</div>