<div th:fragment="searchFragment" class="search_layout">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/search/css/search_content.css}">
    </head>

    <div class="search-content">
        <div class="search_title">
            <div>
                <span class="search_title_text">검색</span>
            </div>
        </div>
        <div class="search-container">
            <div class="input-group search d-flex">
                <input type="text" class="search_box" placeholder="검색어를 입력해주세요." aria-describedby="basic-addon2"
                       id="keyword" name="keyword" size="15">
            </div>
            <hr style="margin: 0; background-color: #dbdbdb">
            <div class="" id="searchList"></div>
        </div>
        <a th:href="@{/location/search}" class="btn btn-primary float-end"> 장소검색 (Beta) </a>
    </div>
    <script src="/search/js/search.js"></script>
</div>