.login_phone {
    background-image: url(../files/designImg/login-phones.png);
    flex-basis: 380.32px;
    height: 581.15px;
    background-position: -28px 0;
    position: relative;
    top: 100px;
}
.login_phone_img {
    width: 400px;
    margin-bottom: 12px;
    margin-right: 32px;
}

.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    max-width: 350px;
}

.login_box {
    position: fixed;
}

.btn_login {
    background-color: #0095f6;
    font-weight: bold;
    color: white;
    height: 35px;
}
.btn_login:hover {
    background-color: #1877f2;
}

/* styleJuHyeon.css */

.line {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color:rgba(0,0,0,0.8);
    font-size:14px;
    margin:8px 0;
}

.line::before{
    content:"";
    flex-grow:1;
    margin-right: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0;
    line-height:0;
}

.line::after {
    content:"";
    flex-grow:1;
    margin-left: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0;
    line-height:0;
}
