<html layout:decorate="~{Layout/layout_main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/board/css/board_update.css}">
</head>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="main-content d-flex justify-content-center">
            <div class="board-content">
                <div class="d-flex" style="border: black solid 2px;">
                    <div class="d-flex">
                        <div style="width: 838px;">
                            <div id="carouselExampleControlsNoTouching" class="carousel slide"
                                 data-interval="false">
                                <div class="carousel-inner">
                                    <div id="img-container">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControlsNoTouching"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-3 modalInfo w-20"
                         style="width: 300px; overflow-y: auto; height: 800px;">
                        <div class="d-flex">
                            <div style="position: relative; width: 2.2rem; height: 2.2rem;">
                                <img th:if="${loginMember.Image == null}"
                                     src="/files/designImg/noneuser.png"
                                     class="shadow rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                                <img th:unless="${loginMember.Image == null}"
                                     th:src="@{|/resources/${loginMember.Image.name}|}"
                                     class="shadow rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                            </div>
                            <div class="d-flex justify-content-center align-items-center mx-2"
                                 style="font-weight: bold; font-size: larger;"
                                 th:text="${loginMember.username}"></div>
                        </div>
                        <textarea class="form-control border-0 mt-3 p-0"
                                  style="resize: none; height: 200px;" name="content"
                                  id="content"
                                  placeholder="문구를 입력하세요..."></textarea>
                        <div class="textLengthWrap d-flex justify-content-end">
                            <p class="textCount p-0 m-0" style="font-size: smaller;">0자</p>
                            <p class="textTotal p-0 m-0" style="font-size: smaller;">/2200자</p>
                        </div>
                        <div class="input-group d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control my-2 flex-grow-1" name="TagMember" id="TagMember" placeholder="@언급 추가해 주세요..." style="border:none; resize: none;">
                            </div>
                            <div id="TagMember-container"></div>
                        </div>
                        <div class="input-group d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control my-2" size="14" name="hashTag" id="hashTag" placeholder="#해시태그를 입력하세요..." style="border:none; resize: none;">
                            </div>
                            <div id="hashTag-container"></div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="위치 추가"
                                   aria-describedby="basic-addon2" id="boardkeyword" name="boardkeyword"
                                   size="15" autocomplete="off" style="border:none; resize: none;">
                            <div class="d-flex justify-content-center align-items-center" style="border-top-left-radius: 0; border-bottom-left-radius: 0; background: transparent; border-color: #CCC;">
                                <svg aria-label="위치 추가" fill="currentColor"
                                     height="24" role="img" viewBox="0 0 24 24" width="24"><title>위치 추가</title>
                                    <path d="M12.053 8.105a1.604 1.604 0 1 0 1.604 1.604 1.604 1.604 0 0 0-1.604-1.604Zm0-7.105a8.684 8.684 0 0 0-8.708 8.66c0 5.699 6.14 11.495 8.108 13.123a.939.939 0 0 0 1.2 0c1.969-1.628 8.109-7.424 8.109-13.123A8.684 8.684 0 0 0 12.053 1Zm0 19.662C9.29 18.198 5.345 13.645 5.345 9.66a6.709 6.709 0 0 1 13.417 0c0 3.985-3.944 8.538-6.709 11.002Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="location-list" id="locationList">
                        </div>
                        <div>
                            <input type="hidden" id="locationId" name="locationId" value=" " readonly>
                            <input type="hidden" id="placeName" name="placeName" value=" " readonly>
                            <input type="hidden" id="addressName" name="addressName" value=" " readonly>
                            <input type="hidden" id="roadAddressName" name="roadAddressName" value=" " readonly>
                            <input type="hidden" id="x" name="x" value=" " readonly>
                            <input type="hidden" id="y" name="y" value=" " readonly>
                        </div>
                        <div class="d-flex flex-column mt-2">
                            <!--접근성-->
                            <div class="d-flex justify-content-between align-items-center"
                                 id="accessibilitySettingsToggle">
                                <div style="font-weight: bold;" th:text="접근성"></div>
                                <span id="accessibilitycollapseArrow"
                                      style="display: inline-block; transform: rotate(0deg);">
                                    <svg aria-label="위쪽 V자형 아이콘" class="x1lliihq x1n2onr6 x5n08af"
                                         fill="currentColor" height="16" role="img" viewBox="0 0 24 24"
                                         width="16">
                                        <title>아래쪽 V자형 아이콘</title>
                                        <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path>
                                    </svg>
                                </span>
                                <span id="accessibilityexpandArrow"
                                      style="display: none; transform: rotate(180deg);">
                                    <svg aria-label="아래쪽 V자형 아이콘" class="x1lliihq x1n2onr6 x5n08af"
                                         fill="currentColor" height="16" role="img" viewBox="0 0 24 24"
                                         width="16">
                                        <title>위쪽 V자형 아이콘</title>
                                        <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path>
                                    </svg>
                                </span>
                            </div>
                            <div id="accessibilitySettings" style="display: none;">
                                <div class="d-flex flex-column justify-content-between align-items-center w-100">
                                    <div class="d-flex flex-column justify-content-between my-2 w-100">
                                        <div class="text small" style="font-size: 0.8rem;">
                                            대체 텍스트는 시각적으로 사진을 보기 어려운 사람들에게 사진 내용을 설명하는 텍스트입니다. 대체 텍스트는 회원님의 사진에
                                            대해 자동으로 생성되며, 직접 입력할 수도 있습니다
                                        </div>
                                        <input type="text" class="form-control mt-2" placeholder="대체 텍스트 입력...">
                                    </div>
                                </div>
                            </div>
                            <!--접근성 End-->
                        </div>
                        <div class="d-flex flex-column mt-2">
                            <!-- 고급설정 -->
                            <div class="d-flex justify-content-between align-items-center"
                                 id="advancedSettingsToggle">
                                <div style="font-weight: bold;" th:text="고급설정"></div>
                                <span id="advancedcollapseArrow"
                                      style="display: inline-block; transform: rotate(0deg);">
                                    <svg aria-label="위쪽 V자형 아이콘" class="x1lliihq x1n2onr6 x5n08af"
                                         fill="currentColor" height="16" role="img" viewBox="0 0 24 24"
                                         width="16">
                                        <title>아래쪽 V자형 아이콘</title>
                                        <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path>
                                    </svg>
                                </span>
                                <span id="advancedexpandArrow"
                                      style="display: none; transform: rotate(180deg);">
                                    <svg aria-label="아래쪽 V자형 아이콘" class="x1lliihq x1n2onr6 x5n08af"
                                         fill="currentColor" height="16" role="img" viewBox="0 0 24 24"
                                         width="16">
                                        <title>위쪽 V자형 아이콘</title>
                                        <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path>
                                    <</svg>
                                </span>
                            </div>
                            <div id="advancedSettings" style="display: none;">
                                <div class="d-flex flex-column justify-content-between align-items-center w-100">
                                    <div class="d-flex justify-content-between my-2 w-100">
                                        <div>이 게시물의 좋아요 수 <br> 숨기기</div>
                                        <div class="form-check form-switch p-0 m-0" style="margin-top: 2px">
                                            <label>
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                       id="likeHide" name="likeHide">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text small" style="font-size: 0.8rem;">
                                        이 게시물의 총 좋아요는 회원님만 볼 수 있습니다. 나중에 게시물 상단에 있는 ··· 메뉴에서 이 설정을 변경할 수 있습니다.
                                        다른 사람의 게시물에서 좋아요 수를 숨기려면 계정 설정으로 이동하세요.
                                    </div>
                                    <div class="d-flex justify-content-between my-2 w-100">
                                        <div>댓글 기능 해제</div>
                                        <div class="form-check form-switch p-0 m-0" style="margin-top: 2px">
                                            <label>
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                       id="commentDisable" name="commentDisable">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text small" style="font-size: 0.8rem;">
                                        나중에 게시물 상단의 메뉴(···)에서 이 설정을 변경할 수 있습니다.
                                    </div>
                                </div>
                            </div>
                            <!-- 고급설정 End-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--board-create js-->
    <script th:src="@{/board/js/create_board.js}"></script>
    <!--location js-->
    <script th:src="@{/location/js/location.js}"></script>
</div>
</html>