<html layout:decorate="~{Layout/layout_main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/member/css/UserPage.css}">
    <title>User Page</title>
</head>
<div layout:fragment="content">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" th:name="_csrf_header" th:value="${_csrf.headerName}"/>

    <div class="d-flex">
        <div class="main-content d-flex">
            <div class="col-3 " style="width: 332px; overflow-y: scroll">

                <!-- my instargram setting -->
                <div class="p-4">
                    <span>내 instargram 사용 방식</span>
                    <div class="px-2 py-3 border rounded-2">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <!-- my account setting -->
                            <li class="nav-item w-100">
                                <a href="/member/account/edit"
                                   th:classappend="${#strings.equals(menu, 'edit')}?'active'"
                                   class="nav-link text-dark">프로필 편집</a>
                            </li>
                            <!-- notice setting -->
                            <li class="nav-item w-100">
                                <a href="/member/account/notice"
                                   th:classappend="${#strings.equals(menu, 'notice')}?'active'"
                                   class="nav-link text-dark">알림</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="p-4">
                    <span>내 콘텐츠를 볼 수 있는 사람</span>
                    <div class="px-2 py-3 border rounded-2">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <!-- my account Nondisclosure setting-->
                            <li class="nav-item w-100">
                                <a href="/member/account/privacy_setting"
                                   th:classappend="${#strings.equals(menu, 'privacy_setting')}?'active'"
                                   class="nav-link text-dark">계정 공개 범위</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- profile editing -->
            <div class="col-9">
                <div th:if="${#strings.equals(menu, 'edit')}">
                    <div class="center">
                        <div class="w-100 d-flex" style="max-width: 706px; padding: 30px 0; flex-direction: column;">
                            <div class="d-flex" style="padding: 0 48px; flex-direction: column;">

                                <div class=" ">
                                    <h5 class="fw-bold d-flex" style="padding: 12px 0; margin: 0 0 16px">프로필 편집</h5>
                                </div>
                                <!--  profile photo setting -->
                                <div class="d-flex justify-content-between align-items-center"
                                     style="background: #efefef; margin: 16px 0; border-radius: 20px">
                                    <div class="d-flex" style="padding: 16px">
                                        <button class="btn btn-light rounded-circle p-0 m-0"
                                                onclick="clickProfilePhotoChange()"
                                                style="position: relative; width: 56px; height: 56px;">
                                            <img th:if="${loginMember.image == null}" id="none_user_img"
                                                 src="/files/designImg/noneuser.png"
                                                 class="shadow rounded-circle text-center"
                                                 style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                                            <img th:unless="${loginMember.image == null}" id="user_img"
                                                 th:src="@{|/resources/${loginMember.image.name}|}"
                                                 class="shadow rounded-circle text-center smooth-update"
                                                 style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                                        </button>
                                        <div class="d-flex align-items-center">
                                            <div class="mx-2">
                                                <div th:text="${loginMember.username}" class="fw-bold"></div>
                                                <div th:text="${loginMember.nickname}" class="fs14"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-3 d-flex align-items-center">
                                        <div class="d-flex">
                                            <button class="btn h32 fwb bgcBlue fcWhite br8 fs14 bcBlue hbgcBlue abgcBlue pdR16 pdL16"
                                                    data-bs-toggle="modal" data-bs-target="#ProfileModifyModal">계정 관리
                                            </button>
                                        </div>


                                        <!-- profile modify menu Modal -->
                                        <div class="modal fade" id="ProfileModifyModal" role="dialog"
                                             aria-hidden="true" aria-labelledby="ProfileModifyModalLabel"
                                             tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content w400 bn">

                                                    <div class="center">
                                                        <div class="center"></div>
                                                        <div class="w-100 h50 center fs20 mg16 fwb">
                                                            계정 관리
                                                        </div>
                                                    </div>
                                                    <div class="bbsS bbw1 bbcDB w400"></div>

                                                    <div class="modal-body p-0">
                                                        <div class="btn-group-vertical w-100" role="group"
                                                             aria-label="Vertical button group">

                                                            <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 bn"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#NameModifyModal">
                                                                이름
                                                            </button>


                                                            <div class="btsS btw1 btcDB w400"></div>
                                                            <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 bn"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#UserNameModifyModal">
                                                                사용자 이름
                                                            </button>

                                                            <div class="btsS btw1 btcDB w400"></div>
                                                            <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 bn"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#PhotoModifyModal">
                                                                프로필 사진
                                                            </button>

                                                            <div class="btsS btw1 btcDB w400"></div>
                                                            <button type="button" data-bs-dismiss="modal"
                                                                    class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 bn">
                                                                취소
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- profile modify menu Modal end-->

                                    <!-- name modify modal -->
                                    <div class="modal fade" id="NameModifyModal" role="dialog"
                                         aria-hidden="true" aria-labelledby="NameModifyModalLabel"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content w400 bn">

                                                <div class="center">
                                                    <button class="btn btn_back pd8 fwb" data-bs-toggle="modal"
                                                            data-bs-target="#ProfileModifyModal">
                                                        <svg aria-label="돌아가기" class="" fill="currentColor"
                                                             height="21" role="img"
                                                             viewBox="0 0 24 24" width="21"><title>돌아가기</title>
                                                            <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                                                                  transform="rotate(-90 12 12)"></path>
                                                        </svg>
                                                    </button>

                                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb">
                                                        이름 변경
                                                    </div>

                                                    <div class="center fb48">
                                                        <button type="button" class="btn-close pd8 fwb bn"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                </div>
                                                <div class="bbsS bbw1 bbcDB w400"></div>

                                                <div>
                                                    <form action="/member/changeName" id="name-form">
                                                        <div class="d-flex flex-column">
                                                            <input id="now-name" name="now-name" type="hidden"
                                                                   th:value="${loginMember.nickname}">

                                                            <div class="flex-fill mg20">
                                                                <input type="text" id="new-name" name="new-name"
                                                                       class="highlight_input"
                                                                       th:value="${loginMember.nickname}"
                                                                       placeholder="변경할 이름을 입력해주세요."
                                                                       oninput="inputName()">
                                                            </div>

                                                            <div class="btsS btw1 btcDB w400"></div>
                                                            <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcBlue hfcBlue bn"
                                                                    data-bs-dismiss="modal" id="name-btn"
                                                                    disabled="disabled" onclick="changeName()">
                                                                완료
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- name modify modal end -->

                                    <!-- username modify modal -->
                                    <div class="modal fade" id="UserNameModifyModal" role="dialog"
                                         aria-hidden="true" aria-labelledby="UserNameModifyModalLabel"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content w400 bn">

                                                <div class="center">
                                                    <button class="btn btn_back pd8 fwb" data-bs-toggle="modal"
                                                            data-bs-target="#ProfileModifyModal">
                                                        <svg aria-label="돌아가기" class="" fill="currentColor"
                                                             height="21" role="img"
                                                             viewBox="0 0 24 24" width="21"><title>돌아가기</title>
                                                            <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                                                                  transform="rotate(-90 12 12)"></path>
                                                        </svg>
                                                    </button>

                                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb">
                                                        이름 변경
                                                    </div>

                                                    <div class="center fb48">
                                                        <button type="button" class="btn-close pd8 fwb bn"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                </div>
                                                <div class="bbsS bbw1 bbcDB w400"></div>

                                                <div>
                                                    <form action="/member/changeUsername" id="username-form">
                                                        <div class="d-flex flex-column">
                                                            <input id="now-username" name="now-username"
                                                                   type="hidden"
                                                                   th:value="${loginMember.username}">
                                                            <div class="flex-fill">
                                                                <div class="position-relative">
                                                                    <div class="flex-fill mg20">
                                                                        <div class="center"
                                                                             style="justify-content: flex-end;">
                                                                            <input type="text" id="new-username"
                                                                                   name="new-username"
                                                                                   autocomplete='off'
                                                                                   class="highlight_input"
                                                                                   th:value="${loginMember.username}"
                                                                                   placeholder="변경할 이름을 입력해주세요."
                                                                                   oninput="inputUserName()"
                                                                                   onchange="changeStopUserName()">
                                                                            <span id="username-spin" class="visually-hidden spinner-border spinner-grow-sm
                                                                                        text-secondary position-absolute mgR6">
                                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <p id="username-error"
                                                                       class="text-danger mgB20 fs11 pdL20 pdR20"></p>
                                                                </div>
                                                            </div>
                                                            <div class="btsS btw1 btcDB w400"></div>
                                                            <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcBlue hfcBlue bn"
                                                                    data-bs-dismiss="modal" id="username-btn"
                                                                    disabled="disabled"
                                                                    onclick="changeUserName()">
                                                                완료
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- username modify modal end -->

                                    <!-- photo modify modal -->
                                    <div class="modal fade" id="PhotoModifyModal" role="dialog"
                                         aria-hidden="true" aria-labelledby="PhotoModifyModalLabel"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content w400 bn">

                                                <div class="center">
                                                    <button class="btn btn_back pd8 fwb" data-bs-toggle="modal"
                                                            data-bs-target="#ProfileModifyModal">
                                                        <svg aria-label="돌아가기" class="" fill="currentColor"
                                                             height="21" role="img"
                                                             viewBox="0 0 24 24" width="21"><title>돌아가기</title>
                                                            <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                                                                  transform="rotate(-90 12 12)"></path>
                                                        </svg>
                                                    </button>

                                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb">
                                                        프로필 사진 변경
                                                    </div>

                                                    <div class="center fb48">
                                                        <button type="button" class="btn-close pd8 fwb bn"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                </div>
                                                <div class="bbsS bbw1 bbcDB w400"></div>

                                                <div class="">
                                                    <div class="btn-group-vertical w-100" role="group"
                                                         aria-label="Vertical button group">

                                                        <form th:action="@{|/member/profile/delete?account=true|}"
                                                              method="post"
                                                              id="img-delete-form">
                                                        </form>

                                                        <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcBlue hfcBlue bn"
                                                                onclick="clickProfilePhotoChange()"> 사진 업로드
                                                        </button>

                                                        <div class="btsS btw1 btcDB w400"></div>
                                                        <button type="submit"
                                                                class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 hfcRed fcRed"
                                                                form="img-delete-form">
                                                            현재 사진 삭제
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- photo modify modal end -->
                                </div>


                                <!-- introduce setting -->
                                <div class="d-flex" style="flex-direction: column">
                                    <div class="d-flex" style="flex-direction: column; margin: 0 0 16px">

                                        <div class="d-flex" style="flex-direction: column">
                                            <label for="introduce" class="fw-bold d-flex"
                                                   style="padding: 16px 0">소개</label>
                                            <input id="introduce" name="introduce" type="text"
                                                   class="introduce_input h60 fs16"
                                                   oninput="changeIntroduce()" style="border-radius: 12px"
                                                   th:value="${loginMember.introduction == null}?'':${loginMember.introduction}">
                                        </div>
                                    </div>

                                    <!-- sex setting -->
                                    <div class="d-flex" style="flex-direction: column; margin: 0 0 16px">
                                        <div class="d-flex" style="flex-direction: column;">
                                            <label class="fw-bold d-flex" style="padding: 16px 0">성별</label>

                                            <div class="d-flex dropdown w-100" style="flex-direction: column">
                                                <a th:if="${loginMember.sex==null}"
                                                   class="now-sex btn sex_dropdown h50 fs16 "
                                                   style="border-radius: 12px; display: flex; align-items: center;"
                                                   role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                   th:text="@{밝히고 싶지 않음}">
                                                </a>
                                                <a th:unless="${loginMember.sex==null}"
                                                   class="now-sex btn btn-outline-secondary w-100 text-start"
                                                   role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                   th:text="${#strings.equals(loginMember.sex,'male')}?'남성':'여성'"></a>

                                                <ul class="dropdown-menu w400 pd0" style="border-radius: 20px;">
                                                    <li class="dropdown-item pdT10 pdB10 bTLr20 bTRr20 hbgcef abgce5" style="cursor: pointer"
                                                        onclick="changeSex('female')">여성
                                                    </li>
                                                    <div class="bbsS bbw1 bbcDB w-100"></div>

                                                    <li class="dropdown-item pdT10 pdB10 hbgcef abgce5" style="cursor: pointer"
                                                        onclick="changeSex('male')">남성
                                                    </li>
                                                    <div class="bbsS bbw1 bbcDB w-100"></div>

                                                    <li class="dropdown-item pdT10 pdB10 bBLr20 bBRr20 hbgcef abgce5" style="cursor: pointer;"
                                                        onclick="changeSex('')">밝히고 싶지 않음
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- change profile button -->
                                    <div class="d-flex justify-content-end">
                                        <input id="change-btn" type="button"
                                               class="btn btn-primary w253 h44 fwb bgcBlue fcWhite br8 fs14 bcBlue hbgcBlue abgcBlue pdR16 pdL16"
                                               style="margin-top: 10rem"
                                               th:value="제출" onclick="changeProfile()" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${#strings.equals(menu, 'privacy_setting')}">
                    <div class="d-flex justify-content-center">
                        <div class="col-6">
                            <div class="my-5">
                                <h5 class="fw-bold">계정 공개 범위</h5>
                                <div class="my-5 d-flex justify-content-between align-items-center">
                                    <div>
                                        비공계 계정
                                    </div>
                                    <div>
                                        <div class="form-check form-switch p-0 m-0" style="margin-top: 2px">
                                            <form action="/member/privacySetting" id="privacySetting-form">
                                                <label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           th:checked="${!loginMember.scope}"
                                                           name="privacySetting-input"
                                                           id="privacySetting-input" onclick="changePrivacy(this)">
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="change-profile" action="/member/changeProfile">
        <input id="now-sex" name="now-sex" type="hidden" th:value="${loginMember.sex}">
        <input id="now-introduce" name="now-introduce" type="hidden"
               th:value="${loginMember.introduction == null}?'':${loginMember.introduction}">
    </form>


    <form th:action="@{|/member/profile/upload?account=true|}" method="post"
          id="img-form" enctype="multipart/form-data">
        <input type="file" accept="image/*" class="visually-hidden"
               id="profile-photo-input"
               name="profile-photo-input" onchange="readFile(this);">
    </form>
    <script th:src="@{/member/js/AccountEdit.js}"></script>
</div>
</html>
