<html lang="ko" layout:decorate="~{Layout/layout_login}">
<div layout:fragment="content" class="h-100 d-flex justify-content-center">
    <div class="preload-images">
        <img src="/files/designImg/phones-photo.png" alt="">
        <img src="/files/designImg/phones-photo2.png" alt="">
        <img src="/files/designImg/phones-photo3.png" alt="">
        <img src="/files/designImg/phones-photo4.png" alt="">
    </div>

    <div class="login_phone_img">
        <div class="login_phone">
            <div class="login_phone_photo"></div>
        </div>
    </div>

    <div class="login">
        <div class="w-100 my-2 login_line">
            <div class="login_box">
                <div class="text-center mb-3 logo_img"></div>
                <form th:action="@{/member/login}" method="post" >
                    <label class="d-flex justify-content-center my-2">
                        <input type="text" name="username" id="username"
                               class="login_input" placeholder="전화번호, 사용자 이름 또는 이메일">
                    </label>
                    <label class="d-flex justify-content-center my-2">
                        <input type="password" name="password" id="password"
                               class="login_input" placeholder="비밀번호">
                    </label>
                    <div class="d-flex justify-content-center my-3 ">
                        <input type="submit" value="로그인" class="btn btn-primary w-75 btn_login">
                    </div>
                </form>

                <div class="line login_or_line">
                    또는
                </div>

                <div class="d-flex justify-content-center">
                    <a href="/oauth2/authorization/facebook" class="d-flex align-items-center" style="text-decoration: none;">
                        <svg style="color: #385185" class="me-1" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             stroke="currentColor"
                             stroke-width="0.8"
                             x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30">
                            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
                        </svg>
                        <span class="login_text" style="color: #385185">
                                Facebook으로 로그인
                            </span>
                    </a>
                </div>

                <div style="margin-bottom: 20px;"></div>

                <div th:if="${param.error}">
                    <p class="text-center text-danger my-3" style="font-size: 14px">
                        입력한 정보의 사용자가 없습니다.
                        <br>다시 확인하세요.
                    </p>
                </div>


                <div class="d-flex justify-content-center">
                    <a href="#" style="text-decoration: none; font-size: 12px; color: #00376b">비밀번호를 잊으셨나요?</a>
                </div>
            </div>
        </div>

        <div class=" w-100 my-2" style="border: 1px solid #dbdbdb">
            <div class="d-flex justify-content-center my-3">
                <span style="font-size: 14px">계정이 없으신가요?</span>
                <a class="ms-1 login_text" href="/member/signup">가입하기</a>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="footer">
</div>
</html>
