<html layout:decorate="~{Layout/layout_login}">
<div layout:fragment="content" class="h-100 d-flex justify-content-center">
    <div style="width: 350px">
        <div class="border border-1 w-100 my-2" style="border: rgba(152,152,152,0.45)">
            <div class="py-5">
                <h1 class="text-center mb-5">LOGO</h1>
                <div class="d-flex justify-content-center">
                    <a href="/oauth2/authorization/facebook" class="d-flex align-items-center">
                        <svg style="color: #0a58ca" class="me-2" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             stroke="currentColor"
                             stroke-width="0.8"
                             x="0px" y="0px" width="28" height="28" viewBox="0 0 30 30">
                            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
                        </svg>
                        <span>
                            Facebook으로 로그인
                        </span>
                    </a>
                </div>

                <div class="line m-3">
                    또는
                </div>

                <form th:action="@{/member/signup}" method="post" th:object="${memberCreateForm}">
                    <label class="d-flex justify-content-center my-3">
                        <input type="text" name="email" id="email" th:field="*{email}"
                               class="form-control w-75" placeholder="휴대폰 번호 또는 이메일">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="text" name="name" id="name" th:field="*{name}"
                               class="form-control w-75" placeholder="성명">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="text" name="username" id="username" th:field="*{username}"
                               class="form-control w-75" placeholder="사용자 이름">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="password" name="password" id="password" th:field="*{password}"
                               class="form-control w-75" placeholder="비밀번호">
                    </label>
                    <div class="d-flex justify-content-center my-3">
                        <input type="submit" class="btn btn-primary w-75" style="background: #4cb5f9; border: #4cb5f9" th:value="가입">
                    </div>
                </form>

            </div>
        </div>

        <div class="border border-1 w-100 my-2" style="border: rgba(152,152,152,0.45)">
            <div class="d-flex justify-content-center my-3">
                <span>계정이 있으신가요?</span>
                <a class="ms-2" href="/member/login">로그인</a>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer">
</div>
</html>
