<html layout:decorate="~{Layout/layout_login}">
<div layout:fragment="content" class="d-flex justify-content-center" style="height: 100%">
    <div style="width: 350px">
        <div class="border border-1 w-100 my-2" style="border: rgba(152,152,152,0.45)">
            <div class="py-5">
                <h1 class="text-center mb-5">LOGO</h1>
                <form th:action="@{/member/signup/social}" method="post" th:object="${memberCreateForm}">
                    <div class="d-flex justify-content-center">
                        <div style="position: relative; width: 6rem; height: 6rem;" id="image_container">
                            <img id="none_user_img" src="/files/designImg/noneuser.png"
                                 class="shadow rounded-circle text-center"
                                 style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                        </div>
                    </div>
                    <label class="d-flex justify-content-center my-3 mt-5">
                        <input type="text" name="email" id="email" th:field="*{email}"
                               class="form-control w-75" placeholder="휴대폰 번호 또는 이메일">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="text" name="name" id="name" th:field="*{name}"
                               class="form-control w-75" placeholder="성명">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="text" name="username" id="username" th:field="*{username}"
                               class="form-control w-75" placeholder="사용자 이름">
                    </label>
                    <label class="d-flex justify-content-center my-3">
                        <input type="password" name="password" id="password" th:field="*{password}"
                               class="form-control w-75" placeholder="비밀번호">
                    </label>

                    <input type="hidden" name="provider" id="provider" th:field="*{provider}">
                    <input type="hidden" name="providerID" id="providerID" th:field="*{providerID}">

                    <div class="d-flex justify-content-center my-3">
                        <input type="submit" class="btn btn-primary w-75" style="background: #4cb5f9; border: #4cb5f9"
                               th:value="가입">
                    </div>
                </form>

            </div>
        </div>

        <div class="border border-1 w-100 my-2" style="border: rgba(152,152,152,0.45)">
            <div class="d-flex justify-content-center my-3">
                <span>계정이 있으신가요?</span>
                <a class="ms-2" href="/member/login">로그인</a>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="footer">
</div>
</html>
