<html layout:decorate="~{Layout/layout_login}">
<div layout:fragment="content" class="h-100 d-flex justify-content-center">
    <div class="d-flex align-items-center" style="width: 350px">
        <div class="w-100">
            <div class="w-100 my-2 signup_line">
                <div class="signup_box">
                    <div class="mb-2 logo_img"></div>
                    <form th:action="@{/member/signup/social}" method="post" th:object="${memberCreateForm}">
                        <div class="d-flex justify-content-center" style="padding-bottom: 1.5rem">
                            <div style="position: relative; width: 6rem; height: 6rem;" id="image_container">
                                <img id="none_user_img" src="/files/designImg/noneuser.png"
                                     class="shadow rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                            </div>
                        </div>
                        <label class="d-flex justify-content-center my-2">
                            <input type="text" name="email" id="email" th:field="*{email}"
                                   class="signup_input" placeholder="휴대폰 번호 또는 이메일">
                        </label>
                        <label class="d-flex justify-content-center my-2">
                            <input type="text" name="name" id="name" th:field="*{name}"
                                   class="signup_input" placeholder="성명">
                        </label>
                        <label class="d-flex justify-content-center my-2">
                            <input type="text" name="username" id="username" th:field="*{username}"
                                   class="signup_input" placeholder="사용자 이름">
                        </label>
                        <label class="d-flex justify-content-center my-2">
                            <input type="password" name="password" id="password" th:field="*{password}"
                                   class="signup_input" placeholder="비밀번호">
                        </label>

                        <input type="hidden" name="provider" id="provider" th:field="*{provider}">
                        <input type="hidden" name="providerID" id="providerID" th:field="*{providerID}">

                        <div class="d-flex justify-content-center my-3">
                            <input type="submit" class="btn btn-primary w-75 btn_join" th:value="가입">
                        </div>
                    </form>

                </div>
            </div>

            <div class="w-100 signup_line" style="margin-top: 1rem; margin-bottom: 0.5rem">
                <div class="d-flex justify-content-center my-3">
                    <span style="font-size: 14px">계정이 있으신가요?</span>
                    <a class="ms-1 signup_text" href="/member/login">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="footer">
</div>
</html>
