<html layout:decorate="~{Layout/layout_main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/member/css/UserPage.css}">
    <title>User Page</title>
</head>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="main-content d-flex justify-content-center">
            <!--mypage content-->
            <div class="userPage_content">
                <!--mypage content inner-->
                <div class="userPage_content_inner">
                    <!--header-->
                    <div class="user_header">
                        <!--user photo-->
                        <div class="user_photo">
                            <div class="d-flex h-100 justify-content-center align-items-center">
                                <button class="btn btn-light rounded-circle userProfile_btn"
                                        data-bs-toggle="modal" data-bs-target="#ProfilePhotoModifyModal">
                                    <img th:if="${member.image == null}" id="none_user_img"
                                         src="/files/designImg/noneuser.png"
                                         class="rounded-circle text-center smooth-update userProfile_img">
                                    <img th:unless="${member.image == null}" id="user_img"
                                         th:src="@{|/resources/${member.image.name}|}"
                                         class="rounded-circle text-center smooth-update userProfile_img">
                                </button>

                                <!-- profile photo change modal -->
                                <div class="modal fade" id="ProfilePhotoModifyModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered center">
                                        <div class="modal-content w400 bn">

                                            <div class="center">
                                                <div class="center"></div>
                                                <div class="w-100 h50 center fs20 mg16">
                                                        프로필 사진 바꾸기
                                                </div>
                                            </div>
                                            <div class="bbsS bbw1 bbcDB w400"></div>

                                            <div class="modal-body p-0">
                                                <div class="btn-group-vertical w-100" role="group"
                                                     aria-label="Vertical button group">
                                                    <form th:action="@{|/member/profile/upload|}" method="post"
                                                          id="img-form" enctype="multipart/form-data">
                                                        <input type="file" accept="image/*" class="visually-hidden"
                                                               id="profile-photo-input"
                                                               name="profile-photo-input" onchange="readFile(this);">
                                                    </form>
                                                    <form th:action="@{|/member/profile/delete|}" method="post"
                                                          id="img-delete-form"></form>
                                                    <button type="button" class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcBlue fwb hfcBlue hfwb"
                                                            onclick="clickProfilePhotoChange()">사진 업로드
                                                    </button>

                                                    <div class="btsS btw1 btcDB w400"></div>
                                                    <button type="submit" form="img-delete-form"
                                                            class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcRed fwb hfcRed hfwb">
                                                        현재 사진 삭제
                                                    </button>

                                                    <div class="btsS btw1 btcDB w400"></div>
                                                    <button type="button" data-bs-dismiss="modal"
                                                            class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14">
                                                        취소
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--user info-->
                        <div class="userInfo">
                            <!--user info header-->
                            <div class="userInfo_header">
                                <div class="d-flex align-items-center h-100 pt-2">
                                    <!-- user id -->
                                    <div>
                                        <input type="hidden" id="username" th:value="${member.username}">
                                        <h5 th:text="${member.username}" class="userID"></h5>
                                    </div>
                                    <!-- mine page -->
                                    <div th:if="${userPageDTO.isMine()}" class="d-flex align-items-center">
                                        <!-- button -->
                                        <div class="btn_area">
                                            <a class="btn btn_userInfo bn" th:href="@{/member/account/edit}">프로필 편집</a>
                                            <a class="btn btn_userInfo mgL8 bn">보관된 스토리 보기</a>
                                        </div>

                                        <!-- my page setting -->
                                        <a class="cp hcb" type="button" data-bs-toggle="modal"
                                           data-bs-target="#myPageSettingModal">
                                            <div class="setting center hfcBlack">
                                                <svg aria-label="옵션" stroke="currentColor" fill="currentColor"
                                                     height="24" role="img" viewBox="0 0 24 24" width="24"><title>
                                                    옵션</title>
                                                    <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"></circle>
                                                    <path d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                                                          fill="none" stroke="currentColor" stroke-linejoin="round"
                                                          stroke-width="2"></path>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- my page setting Modal -->
                                    <div class="modal fade" id="myPageSettingModal" tabindex="-1"
                                         aria-labelledby="myPageSettingModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered center">

                                            <div class="modal-content w400 bn">
                                                <a href="/member/account/notice" type="button"
                                                   class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"> 알림 </a>

                                                <div class="btsS btw1 btcDB w400"></div>
                                                <a href="/member/account/who_can_see_your_content/" type="button"
                                                   class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"> 설정 및
                                                    개인정보 </a>

                                                <div class="btsS btw1 btcDB w400"></div>
                                                <a href="/member/logout"
                                                   class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"> 로그아웃 </a>

                                                <div class="btsS btw1 btcDB w400"></div>
                                                <button type="button" data-bs-dismiss="modal"
                                                        class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"> 취소
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- not mine page-->
                                    <div th:unless="${userPageDTO.isMine()}" class="d-flex align-items-center">
                                        <!-- button -->
                                        <div class="d-flex mgL20">
                                            <a class="btn mw74"
                                               th:classappend="${userPageDTO.isFollow() or userPageDTO.isRequestFollow()}?'btn_following' : 'btn_follow'"
                                               onclick="clickFollow()">
                                                <span id="follow-spin"
                                                      class="visually-hidden spinner-border spinner-border-sm"
                                                      aria-hidden="true"></span>
                                                <span th:if="${userPageDTO.isFollow()}" class="follow-text">팔로잉
                                                    <svg aria-label="아래쪽 V자형 아이콘" class="d-inline-block"
                                                         style="transform: rotate(180deg); color: black;"
                                                         fill="currentColor" height="12" role="img" viewBox="0 0 24 24"
                                                         width="12"><title>아래쪽 V자형 아이콘</title><path
                                                            d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"></path></svg>
                                                </span>
                                                <span th:if="${not userPageDTO.isFollow() and userPageDTO.isFollower() and not userPageDTO.isRequestFollow()}"
                                                      class="follow-text w140">맞팔로우 하기</span>
                                                <span th:if="${userPageDTO.isRequestFollow()}"
                                                      class="follow-text">요청됨</span>
                                                <span th:if="${not userPageDTO.isRequestFollow() and not userPageDTO.isFollow() and not userPageDTO.isFollower()}"
                                                      class="follow-text">팔로우</span>
                                            </a>
                                            <a th:if="${not userPageDTO.isFollower() or userPageDTO.isFollow()}"
                                               class="btn btn_message mgL8">메세지 보내기</a>
                                        </div>

                                        <!-- user page setting -->
                                        <a class="cp hcb" type="button" data-bs-toggle="modal"
                                           data-bs-target="#userPageSettingModal">
                                            <div class="mgL5">
                                                <div class="pd8 wa hfcBlack">
                                                    <svg aria-label="옵션" fill="currentColor" height="32" role="img"
                                                         viewBox="0 0 24 24" width="32"><title>옵션</title>
                                                        <circle cx="12" cy="12" r="1.5"></circle>
                                                        <circle cx="6" cy="12" r="1.5"></circle>
                                                        <circle cx="18" cy="12" r="1.5"></circle>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- user page setting Modal -->
                                        <div class="modal fade" id="userPageSettingModal" tabindex="-1"
                                             aria-labelledby="userPageSettingModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered center">
                                                <div class="modal-content w400 bn">

                                                    <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 hfcBlock fcRed fwb"
                                                            data-bs-target="#userBlockModal" data-bs-toggle="modal">
                                                        차단
                                                    </button>

                                                    <div class="btsS btw1 btcDB w400"></div>
                                                    <button type="button" data-bs-dismiss="modal"
                                                            class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14">
                                                        취소
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- user block modal -->
                                        <div class="modal fade" id="userBlockModal" tabindex="-1"
                                             aria-labelledby="userBlockModalToggleLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered center">
                                                <div class="modal-content w400 bn">
                                                    <div class="center">
                                                        <div class="w-100 h-100 center mg32 fs14 fcGray"
                                                             id="userBlockModalToggleLabel">
                                                            <div class="text-center">
                                                                <span class="pdB16 fs20 fw600 fcBlack">님을 차단하시겠어요? <br></span>
                                                                상대방은 Instagram에서 회원님의 프로필, 게시물 및 <br>
                                                                스토리를 찾을 수 없게 됩니다. Instagram은 회원님이 <br>
                                                                차단한 사실을 상대방에게 알리지 않습니다.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btsS btw1 btcDB w400"></div>
                                                    <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 hfcRed fcRed fwb">
                                                        차단
                                                    </button>

                                                    <div class="btsS btw1 btcDB w400"></div>
                                                    <button type="button" data-bs-dismiss="modal"
                                                            class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14">
                                                        취소
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--user follow info-->
                            <div class="d-flex user_follow_info aIC">
                                <div class="me-5">
                                    <span>게시물</span>
                                    <span class="fw600" th:text="${userPageDTO.feedSize}"></span>
                                </div>
                                <div class="me-5">
                                    <span>팔로워</span>
                                    <span class="fw600" id="followers"
                                          th:text="${#lists.size(userPageDTO.followers)}"></span>
                                </div>
                                <div>
                                    <span>팔로잉</span>
                                    <span class="fw600" id="follows"
                                          th:text="${#lists.size(userPageDTO.followings)}"></span>
                                </div>
                            </div>

                            <!--user info interest-->
                            <div class="d-flex flex-column justify-content-between mh30 h30">
                                <div class="fs14 fw-bold pdT5">
                                    <span th:text="${member.nickname}"></span>
                                </div>
                                <div class="fs14 pdT5 mgB0">
                                    <span th:text="${member.introduction}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--story highlight --> <!-- 'visually-hidden' -->
                    <div class="h130 mgB44" th:classappend="${#maps.isEmpty(userPageDTO.stories)} ? ''">
                        <div class="h_100">
                            <div class="d-flex h_100">
                                <div class="mgL24">
                                    <div class="w115 pdT10 pdR15 pdB10 pdL15">
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#highlightModal">
                                            <div>
                                                <div>
                                                    <div class="highlight_line center">
                                                        <div class="d-flex highlight_line_internal">
                                                            <svg aria-label="+ 아이콘" class="highlight_icon"
                                                                 fill="currentColor" height="44"
                                                                 role="img" viewBox="0 0 24 24" width="44"><title>+
                                                                아이콘</title>
                                                                <path d="M21 11.3h-8.2V3c0-.4-.3-.8-.8-.8s-.8.4-.8.8v8.2H3c-.4 0-.8.3-.8.8s.3.8.8.8h8.2V21c0 .4.3.8.8.8s.8-.3.8-.8v-8.2H21c.4 0 .8-.3.8-.8s-.4-.7-.8-.7z"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pdT10">
                                                    <div class="new_text">
                                                        신규
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- highlight modal -->
                    <div class="modal fade" id="highlightModal" tabindex="-1"
                         aria-labelledby="highlightModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered center">
                            <div class="modal-content w400 bn">

                                <div class="center">
                                    <div class="center fb48"></div>
                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb" id="highlightModalLabel">
                                        새로운 하이라이트
                                    </div>
                                    <div class="center fb48">
                                        <button type="button" class="btn-close pd8 fwb bn"
                                                data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                </div>
                                <div class="bbsS bbw1 bbcDB w400"></div>

                                <div class="mg20">
                                    <label class="d-flex justify-content-center">
                                        <input type="text" name="highlightname" id="highlightname"
                                               class="highlight_input" placeholder="하이라이트 이름">
                                    </label>
                                </div>

                                <div class="btsS btw1 btcDB w400"></div>
                                <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"
                                        data-bs-target="#highlightListModal" data-bs-toggle="modal"> 다음
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- highlight list modal -->
                    <div class="modal fade" id="highlightListModal" tabindex="-1"
                         aria-labelledby="highlightListModalToggleLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered center">
                            <div class="modal-content w400 bn">
                                <div class="center">

                                    <div class="center fb48">
                                        <button type="button" class="btn_back pd8 fwb" data-bs-target="#highlightModal"
                                                data-bs-toggle="modal">
                                            <svg aria-label="돌아가기" class="" fill="currentColor" height="21" role="img"
                                                 viewBox="0 0 24 24" width="21"><title>돌아가기</title>
                                                <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                                                      transform="rotate(-90 12 12)"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb"
                                         id="highlightListModalToggleLabel"> 스토리 목록
                                    </div>

                                    <div class="center fb48">
                                        <button type="button" class="btn-close pd8 fwb bn"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="bbsS bbw1 bbcDB w400"></div>

                                <div class="modal-body h600 center">
                                    스토리 리스트 수정 중
                                </div>

                                <div class="btsS btw1 btcDB w400"></div>
                                <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14"
                                        data-bs-target="#storyCoverChoiceModal" data-bs-toggle="modal"> 다음
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- story cover choice -->
                    <div class="modal fade" id="storyCoverChoiceModal" tabindex="-1"
                         aria-labelledby="storyCoverChoiceModalToggleLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered center">
                            <div class="modal-content w400 bn">
                                <div class="center">

                                    <div class="center fb48">
                                        <button type="button" class="btn_back pd8 fwb"
                                                data-bs-target="#highlightListModal" data-bs-toggle="modal">
                                            <svg aria-label="돌아가기" class="" fill="currentColor" height="21" role="img"
                                                 viewBox="0 0 24 24" width="21"><title>돌아가기</title>
                                                <path d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z"
                                                      transform="rotate(-90 12 12)"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="w-100 h50 center pdT4 pdB4 pdL8 pdR8 fs16 fwb"
                                         id="highlightListModalToggleLabel3"> 커버 선택
                                    </div>

                                    <div class="center fb48">
                                        <button type="button" class="btn-close pd8 fwb bn"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="bbsS bbw1 bbcDB w400"></div>

                                <div class="modal-body h600 center">
                                    커버 선택 수정 중
                                </div>

                                <div class="btsS btw1 btcDB w400"></div>
                                <button class="btn w-100 h50 center hfwb pdT4 pdB4 pdL8 pdR8 fs14 fcBlue"
                                        data-bs-dismiss="modal"> 완료
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="btsS btcDB btw1"></div>

                    <div th:if="${member.scope or userPageDTO.isMine()}">
                        <!--board list menu-->
                        <div class="d-flex justify-content-center align-items-center h53">
                            <div class="d-flex">
                                <div class="center h52 mgR60 hfcBlack">
                                    <a class="center btn pd0 mgL6 fs12 fwb fcGray bn hfcBlack" href="">
                                        <svg aria-label="" fill="currentColor" height="12" role="img"
                                             viewBox="0 0 24 24" width="12"><title></title>
                                            <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2" width="18" x="3"
                                                  y="3"></rect>
                                            <line fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3"
                                                  y2="21"></line>
                                            <line fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985"
                                                  y1="3" y2="21"></line>
                                            <line fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015"
                                                  y2="9.015"></line>
                                            <line fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985"
                                                  y2="14.985"></line>
                                        </svg>
                                        <div class="mgL6">게시물</div>

                                    </a>
                                </div>

                                <div class="center h52 mgR60">
                                    <a class="center btn pd0 mgL6 fs12 fwb fcGray bn hfcBlack" href="">
                                        <svg aria-label="" fill="currentColor" height="12" role="img"
                                             viewBox="0 0 24 24" width="12"><title></title>
                                            <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                                                     stroke="currentColor" stroke-linecap="round"
                                                     stroke-linejoin="round" stroke-width="2"></polygon>
                                        </svg>
                                        <div class="mgL6"> 저장됨</div>
                                    </a>
                                </div>

                                <div class="center h52">
                                    <a class="center btn pd0 mgL6 fs12 fwb fcGray bn hfcBlack" href="">
                                        <svg aria-label="" fill="currentColor" height="12" role="img"
                                             viewBox="0 0 24 24" width="12"><title></title>
                                            <path d="M10.201 3.797 12 1.997l1.799 1.8a1.59 1.59 0 0 0 1.124.465h5.259A1.818 1.818 0 0 1 22 6.08v14.104a1.818 1.818 0 0 1-1.818 1.818H3.818A1.818 1.818 0 0 1 2 20.184V6.08a1.818 1.818 0 0 1 1.818-1.818h5.26a1.59 1.59 0 0 0 1.123-.465Z"
                                                  fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"></path>
                                            <path d="M18.598 22.002V21.4a3.949 3.949 0 0 0-3.948-3.949H9.495A3.949 3.949 0 0 0 5.546 21.4v.603"
                                                  fill="none" stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"></path>
                                            <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2"></circle>
                                        </svg>
                                        <div class="mgL6"> 태그됨</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--board list-->
                        <div style="height: calc(100vh - 497px);">
                            <div class="row row-cols-3 mx-0 p-0">
                                <div th:each="feed : ${userPageDTO.feeds}" class="col mb-1 p-0">
                                    <div class="d-flex justify-content-center">
                                        <div class="pr w300 h300">
                                            <img th:src="@{|/resources/${feed.fileDTOS().get(0).name}|}"
                                                 class="shadow-sm text-center smooth-update userProfile_line pa top0 left0 w-100 h_100 mga ofc"
                                                 style="transform: translate(50,50)">
                                            <div class="w10r h10r pa">
                                                <button class="btn btn-primary" th:value="${feed.board().id}"
                                                        onclick="boardPinChange(this)"
                                                        th:text="${feed.board().isPin()}?'상단고정 해제':'상단고정'"></button>
                                                <button class="btn btn-primary" th:value="${feed.board().id}"
                                                        onclick="boardKeep(this)">보관
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <footer>
                            ggg
                        </footer>
                    </div>

                    <div th:unless="${member.scope or userPageDTO.isMine()}">
                        <div class="border border-1 rounded-3 p-5 my-4">
                            <div class="text-center py-2">
                                비공개 계정입니다
                                <br>
                                <br>
                                사진 및 동영상을 보려면 팔로우하세요.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="board-pin-form" th:action="@{|/board/pin|}" method="post">
        <input type="hidden" id="board" name="board">
    </form>

    <form id="board-keep-form" th:action="@{|/board/keep|}" method="post">
        <input type="hidden" id="keep" name="keep">
    </form>
    <script th:src="@{/member/js/UserPage.js}"></script>


</div>
</html>
