<html layout:decorate="~{Layout/layout_main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/member/css/UserPage.css}">
    <title>User Page</title>
</head>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="main-content d-flex justify-content-center">
            <!--mypage content-->
            <div style="width: 950px; height: 100%; padding: 30px 20px 0;">
                <!--mypage content inner-->
                <div style="height: 100%">
                    <!--header-->
                    <div class="d-flex" style="min-height:150px; height: 150px; margin-bottom: 44px">
                        <!--user photo-->
                        <div class="col-4 h-100">
                            <div class="d-flex h-100 justify-content-center align-items-center">
                                <div style="position: relative; width: 150px; height: 150px;" id="image_container">
                                    <img id="none_user_img" src="/files/designImg/noneuser.png"
                                         class="shadow-sm rounded-circle text-center"
                                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                                </div>
                            </div>
                        </div>
                        <!--user info-->
                        <div class="col-8">
                            <!--user info header-->
                            <div style="min-height:40px; height: 40px; margin-bottom: 20px">
                                <div class="d-flex align-items-center h-100 pt-2">
                                    <!-- user id -->
                                    <div>
                                        <h5 th:text="${member.username}" class="m-0"></h5>
                                    </div>
                                    <!-- button -->
                                    <div class="d-flex" style="width: 265px; margin-left: 20px;">
                                        <a class="btn btn-primary" style="height: 32px">프로필 편집</a>
                                        <a class="btn btn-primary" style="height: 32px; margin-left: 8px">보관된 스토리</a>
                                    </div>
                                    <!-- setting -->
                                    <div style="width: 40px; margin-left: 5px;">
                                        <svg aria-label="옵션" class="x1lliihq x1n2onr6 x5n08af"
                                             stroke="currentColor" fill="currentColor"
                                             height="24" role="img" viewBox="0 0 24 24" width="24"
                                             style="color:#989898"><title>옵션</title>
                                            <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2"></circle>
                                            <path d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                                                  fill="none" stroke="currentColor" stroke-linejoin="round"
                                                  stroke-width="2"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!--user follow-->
                            <div class="d-flex" style="min-height:18px; height: 18px; margin-bottom: 20px">
                                <div class="me-5">
                                    <span>게시물</span>
                                    <span th:text="${#lists.size(userPageDTO.feeds)}"></span>
                                </div>
                                <div class="me-5">
                                    <span>팔로워</span>
                                    <span th:text="${#lists.size(userPageDTO.followers)}"></span>
                                </div>
                                <div>
                                    <span>팔로우</span>
                                    <span th:text="${#lists.size(userPageDTO.followings)}"></span>
                                </div>
                            </div>
                            <!--user info interest-->
                            <div style="min-height:48px; height: 48px;"
                                 class="d-flex flex-column justify-content-between">
                                <div>
                                    <span th:text="${member.nickname}"></span>
                                </div>
                                <div>
                                    <span th:text="${member.introduction}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--story highlight-->
                    <div th:classappend="${#maps.isEmpty(userPageDTO.stories)} ? 'visually-hidden'"
                         style="height: 130px; margin-bottom: 44px">

                    </div>

                    <!--board list menu-->
                    <div class="d-flex justify-content-center align-items-center"
                         style="height: 55px;">
                        <div class="d-flex">
                            <a class="btn" href="">게시물</a>
                            <a class="btn" href="">저장됨</a>
                            <a class="btn" href="">태그됨</a>
                        </div>
                    </div>

                    <!--board list-->
                    <div style="height: calc(100vh - 497px);">
                        <div class="row row-cols-3 mx-0 p-0">
                            <div th:each="feed : ${userPageDTO.feeds}" class="col mb-1 p-0">
                                <div class="d-flex justify-content-center">
                                    <div style="position: relative; width: 300px; height: 300px;">
                                        <img th:src="@{|/resources/${feed.images().get(0).name}|}"
                                             class="shadow-sm text-center"
                                             style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>
