<div id="savedFormFragment" th:fragment="savedFormFragment">
    <div class="h64 d-flex">
        <div class="flex-fill"
             style="color: #737373; font-size: 12px; padding-top: 32px; padding-bottom: 16px">
            저장한 내용은 회원님만 볼 수 있습니다.
        </div>
        <a style="color: #0095f6; font-size: 14px; padding-top: 31px; font-weight: bold"
           data-bs-toggle="modal" data-bs-target="#collectionModal">
            + 새 컬렉션!!!
        </a>
    </div>
    <div style="height: calc(100vh - 497px);">
        <div class="row row-cols-3 mx-0 p-0">
            <div th:each="savedMap : ${savedBoardDTO.getSavedGroupFiles()}"
                 th:if="${savedMap.getKey().id == null}"
                 class="col mb-1 p-0">
                <div class="d-flex justify-content-center">
                    <div class="w300 h300 row row-cols-2 mx-0 p-0"
                         style="background: #efefef;"
                         type="button"
                         th:onclick="${savedMap.getKey().id}">
                        <div th:each="file :${savedMap.getValue()}"
                             class="pr col p-0 userProfile_line" style="width: 150px; height: 150px;">
                            <img th:src="@{|/resources/${file.name}|}"
                                 class="shadow-sm text-center smooth-update pa top0 left0 w-100 h_100 mga ofc"
                                 style="transform: translate(50,50)">
                        </div>
                    </div>

                    <div class="position-absolute w300 h300 d-flex align-items-end saved-group">
                        <div th:text="${savedMap.getKey().name}"
                             style="color: #ffff; font-size: 20px; padding: 20px">

                        </div>
                    </div>
                </div>
            </div>
            <div th:each="savedMap : ${savedBoardDTO.getSavedGroupFiles()}"
                 th:unless="${savedMap.getKey().id == null}" class="col mb-1 p-0">
                <div class="d-flex justify-content-center">
                    <div class="pr w300 h300" type="button"
                         style="background: #efefef;"
                         th:onclick="${savedMap.getKey().id}">
                        <div th:each="file :${savedMap.getValue()}"
                             class="p-0 userProfile_line" style="width: 300px; height: 300px;">
                            <img th:src="@{|/resources/${file.name}|}"
                                 class="shadow-sm text-center smooth-update pa top0 left0 w-100 h_100 mga ofc"
                                 style="transform: translate(50,50)">
                        </div>
                    </div>

                    <div class="position-absolute w300 h300 d-flex align-items-end saved-group">
                        <div th:text="${savedMap.getKey().name}"
                             style="color: #ffff; font-size: 20px; padding: 20px">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- collectionModal -->
    <div class="modal fade" id="collectionModal" tabindex="-1"
         aria-labelledby="collectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="collectionModalLabel">새 컬렉션</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center"
                     style="width: 100%; height: 100%;">
                    <div class="file-container">
                    </div>
                    <div class="input-group" style="width: 100%; margin-top: 20px;">
                        <input type="text" class="form-control" id="GroupName"
                               name="GroupName">
                    </div>
                    <input id="fileId" type="hidden">
                </div>
                <div class="modal-footer d-flex justify-content-center p-0"
                     style="width: 100%;">
                    <button type="button" class="btn noneBtn btn-link"
                            onclick="SaveGroupCreate()">저장
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- collectionModal End -->
</div>