<html layout:decorate="~{Layout/layout_main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/dm/css/DirectInbox.css}">
    <title>User Page</title>
</head>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="main-content d-flex">
            <div class="col-3 overflow-scroll" style="width: 398px;">
                <ul>
                    <li th:each="room:${roomList}">
                        <a th:href="@{|/direct/t/${room.id}|}"
                           th:text="${room.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <h1 th:text="${nowRoomDTO.room.name}"></h1>
                    <input type="hidden" id="room-id" th:value="${nowRoomDTO.room.id}">
                    <input type="hidden" id="loginUser-username" th:value="${loginMember.username}">
                </div>
                <div class="d-flex justify-content-center align-items-center h-75">
                    <div class="w-100 h-100">
                        <div class="msgArea">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
                    <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
                    <button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        var roomId = document.getElementById('room-id').value;
        var username = document.getElementById('loginUser-username').value;
        let msgArea = document.querySelector('.msgArea');
        var connectMember = [];

        function enterRoom(socket){

            var enterMsg=
                {
                    "type" : "ENTER",
                    "roomId": roomId,
                    "sender":username,
                };

            socket.send(JSON.stringify(enterMsg));
        }
        let socket = new WebSocket("ws://localhost:8888/ws/chat");

        socket.onopen = function (e) {
            debugger;
            console.log('open server!')
            enterRoom(socket);
        };

        socket.onclose=function(e){
            console.log('disconnet');
        }

        socket.onerror = function (e){

            console.log(e);
        }

        //메세지 수신했을 때 이벤트.
        socket.onmessage = function (e) {
            debugger;

            console.log(e.data);

            var data = JSON.parse(e.data);

            if(data.type === 'TALK' && data.sender === username)
            {
                createMineMessage(data);
            }
            else if(data.type === 'TALK' && data.sender !== username)
            {
                createMessage(data);
            }
            else if(data.type === 'ENTER' && data.sender !== username)
            {
                sendConnectState(socket);

                connectMember.push(data.sender);

                readMessage(data);
            }
            else if(data.type === 'CONNECT' && data.sender !== username)
            {
                connectMember.push(data.sender);
            }
            else if(data.type === 'DISCONNECT' && data.sender !== username)
            {
                let index = connectMember.indexOf(data.sender);
                if (index !== -1) {
                    connectMember.splice(index, 1);
                }
            }

        }

        function sendConnectState(socket)
        {
            debugger;
            var enterMsg=
                {
                    "type" : "CONNECT",
                    "roomId": roomId,
                    "sender":username,
                };

            socket.send(JSON.stringify(enterMsg));
        }

        function readMessage(data)
        {
            var readCheck = document.getElementsByClassName('read-check');

            for(var i = 0; i < readCheck.length; i++)
            {
                readCheck.item(i).textContent = data.sender + '님이 확인함';
            }
        }

        function createMineMessage(data)
        {

            var read = '';
            for(var i = 0; i < connectMember.length; i++) {
                read += connectMember[i] + '님';
                if (i !== connectMember.length - 1)
                {
                    read += ',';
                }
                else
                {
                    read +='이 읽음';
                }
            }

            let newMsg = document.createElement('div');
            newMsg.innerHTML =
                '                           <div class="p-4">\n' +
                '                                <div class="d-flex justify-content-end">\n' +
                '                                    <div>\n' +
                '                                        <div class="d-flex align-items-center my-2">\n' +
                '                                            <div class="rounded-5 bg-primary text-light p-2 px-3">\n' +
                                                                data.msg +
                '                                            </div>\n' +
                '                                            <div class="flex-fill">\n' +
                '                                            </div>\n' +
                '                                        </div>\n' +
                '                                        <div class="read-check my-2 text-end">\n' +
                                                            read+
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>';
            msgArea.appendChild(newMsg);
        }

        function createMessage(data)
        {
            debugger;
            let newMsg = document.createElement('div');

            var members = [[${nowRoomDTO.members}]];
            var imgSrc = '';
            var img  = members[data.sender].image;
            if(img === null) {
                imgSrc = 'src="/files/designImg/noneuser.png"\n';
            }
            else {
                imgSrc = 'src="/resources/'+img.name+'"\n';
            }
            newMsg.innerHTML =
                '                            <div class="p-4">\n' +
                '                                <div class="my-2">\n' +
                                                    data.sender +
                '                                </div>\n' +
                '                                <div class="d-flex align-items-center my-2">\n' +
                '                                   <a href="/member/page/' +data.sender + '">\n' +
                '                                       <div style="position: relative; width: 3rem; height: 3rem;">\n' +
                '                                           <img ' + imgSrc+
                '                                               class="shadow-sm rounded-circle text-center"\n' +
                '                                               style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">\n' +
                '                                       </div>\n' +
                '                                   </a>\n' +
                '                                   <div class="mx-3 rounded-5 p-2 px-3" style="background: #b7b7b7">\n' +
                                                        data.msg +
                '                                   </div>\n' +
                '                                   <div class="flex-fill">\n' +
                '                                   </div>\n' +
                '                                </div>\n' +
                '                            </div>';
            msgArea.appendChild(newMsg);
        }


        //메세지 보내기 버튼 눌렀을 떄..
        function sendMsg() {

            const csrfToken = document.querySelector('input[name="_csrf"]').value;

            let content=document.querySelector('.content').value;
            var talkMsg={
                "type" : "TALK",
                "roomId":roomId,
                "sender":username,
                "msg":content};

            fetch('/message/create',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrfToken
                    },
                    body: JSON.stringify(talkMsg)
                })
                .then(response =>{
                    return response.json()
                })
                .then(data => {

                })
                .catch(error => console.error('데이터를 받지 못했습니다.', error));

            socket.send(JSON.stringify(talkMsg));
        }

        function quit(){
            sendDisconnectState(socket);

            const csrfToken = document.querySelector('input[name="_csrf"]').value;

            var quitMsg={
                "type" : "QUIT",
                "roomId": roomId,
                "sender":username};

            fetch('/room/quit',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrfToken
                    },
                    body: JSON.stringify(quitMsg)
                })
                .then(response =>{
                    return response.json()
                })
                .then(data => {

                })
                .catch(error => console.error('데이터를 받지 못했습니다.', error));

            socket.send(JSON.stringify(quitMsg));
            socket.close();
            location.href="/chat/chatList";
        }

        function sendDisconnectState(socket)
        {
            var enterMsg=
                {
                    "type" : "DISCONNECT",
                    "roomId": roomId,
                    "sender":username,
                };

            socket.send(JSON.stringify(enterMsg));
        }

        window.addEventListener('beforeunload', function (e) {
            quit();
        });
    </script>
</div>
</html>