.line {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color:rgba(0,0,0,0.8);
    font-size:14px;
    margin:8px 0;
}

.line::before{
    content:"";
    flex-grow:1;
    margin-right: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0px;
    line-height: 0px;
}
.line::after {
    content:"";
    flex-grow:1;
    margin-left: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0px;
    line-height: 0px;
}
