a {
    text-decoration: none;
    color: #000;
}

.location-content {
    margin-left:350px;
    width:400px;
}

.location-list {
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

.location-container {
    width:400px;
    height:100%;
}

.location-box {
    display: flex;
    padding: 10px;
}
.location-box:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    color: #000;
    width: 400px;
}
.location-box:hover .search-profile img {
    /* .search-box가 호버될 때 .search-profile 내부의 img에 영향을 주는 스타일 추가 */
    filter: brightness(95%); /* 예시로 이미지를 어둡게 만듦 */
}

.location-username {
    font-weight: bold;
}

.location-userintroduction {
    font-size: 12px;
    max-width: 310px;
    white-space: nowrap;       /* 텍스트가 줄 바꿈되지 않도록 설정 */
    overflow: hidden;          /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;   /* 넘치는 부분에 "..."을 추가 */
}

