.map-content {
    margin-left:500px;
}

.map-container{
    display: flex;
    width: calc(100vw - 550px);
}

.keyword-box{
    width: 250px;
}

.map-box {
    width: calc(100vw - 750px);
}

#map {
    width: 100%;
    height: 65vh;
}