/* padding */
.pd0 {
    padding: 0;
}

.pd8 {
    padding: 8px;
}
.pd40 {
    padding: 40px;
}

.pdT4 {
    padding-top: 4px;
}
.pdT5 {
    padding-top: 5px;
}
.pdT8 {
    padding-top: 8px;
}
.pdT10 {
    padding-top: 10px;
}
.pdT12 {
    padding-top: 12px;
}
.pdT16 {
    padding-top: 16px;
}
.pdT24 {
    padding-top: 24px;
}

.pdR8 {
    padding-right: 8px;
}
.pdR13 {
    padding-right: 13px;
}
.pdR15 {
    padding-right: 15px;
}
.pdR16 {
    padding-right: 16px;
}
.pdR20 {
    padding-right: 20px;
}
.pdR24 {
    padding-right: 24px;
}

.pdB4 {
    padding-bottom: 4px;
}
.pdB8 {
    padding-bottom: 8px;
}
.pdB10 {
    padding-bottom: 10px;
}
.pdB12 {
    padding-bottom: 12px;
}
.pdB16 {
    padding-bottom: 16px;
}
.pdB24 {
    padding-bottom: 24px;
}

.pdL8 {
    padding-left: 8px;
}
.pdL15 {
    padding-left: 15px;
}
.pdL16 {
    padding-left: 16px;
}
.pdL20 {
    padding-left: 20px;
}
.pdL24 {
    padding-left: 24px;
}

/* padding */


/* margin */
.mga {
    margin: auto;
}

.mg16 {
    margin: 16px;
}
.mg20 {
    margin: 20px;
}
.mg32 {
    margin: 32px;
}

.mgT8 {
    margin-top: 8px;
}
.mgT22 {
    margin-top: 22px;
}

.mgR4 {
    margin-right: 4px;
}
.mgR6 {
    margin-right: 6px;
}
.mgR60 {
    margin-right: 60px;
}

.mgB0 {
    margin-bottom: 0;
}
.mgB4 {
    margin-bottom: 4px;
}
.mgB10 {
    margin-bottom: 10px;
}
.mgB16 {
    margin-bottom: 16px;
}
.mgB18 {
    margin-bottom: 18px;
}
.mgB20 {
    margin-bottom: 20px;
}
.mgB44 {
    margin-bottom: 44px;
}

.mgL5 {
    margin-left: 5px;
}
.mgL6 {
    margin-left: 6px;
}
.mgL8 {
    margin-left: 8px;
}
.mgL20 {
    margin-left: 20px;
}
.mgL24 {
    margin-left: 24px;
}
/* margin */


/* min width */
.mw30 {
    min-width: 30px;
}
.mw74 {
    min-width: 74px;
}
/* min width */


/* min height */
.mh30 {
    min-height: 30px;
}
/* min height */


/* width */
.wa {
    width: auto;
}

.w115 {
    width: 115px;
}
.w140 {
    width: 140px;
}
.w253 {
    width: 253px;
}
.w300 {
    width: 300px;
}
.w309 {
    width: 309px;
}
.w400 {
    width: 400px;
}
.w908 {
    width: 908px;
}

.w10r {
    width: 10rem;
}
/* width */



/* height */
.h_100 {
    height: 100%;
}

.h100v {
    height: 100vh;
}

.h30 {
    height: 30px;
}
.h32 {
    height: 32px;
}
.h44 {
    height: 44px;
}
.h50 {
    height: 50px;
}
.h52 {
    height: 52px;
}
.h53 {
    height: 53px;
}
.h55 {
    height: 55px;
}
.h60 {
    height: 60px;
}
.h130 {
    height: 130px;
}
.h300 {
    height: 300px;
}
.h309 {
    height: 309px;
}
.h600 {
    height: 600px;
}
.h692 {
    height: 692px;
}

.h10r {
    height: 10rem;
}
/* height */


/* cursor pointer */
.cp {
    cursor: pointer;
}
/* cursor pointer */


.aIC {
    align-items: center;
}


/* font weight */
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.fw700 {
    font-weight: 700;
}

.fwb {
    font-weight: bold;
}
/* font weight */


/* font size */
.fs11 {
    font-size: 11px;
}
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs20 {
    font-size: 20px;
}
.fs24 {
    font-size: 24px;
}
/* font size */


/* font color */
.fcBlack {
    color: black;
}
.fcGray {
    color: #737373;
}
.fcWhite {
    color: white;
}
.fcRed {
    color: #ff3140;
}
.fcBlue {
    color: #0095f6;
}
/* font color */

.bdb {
    border: 1px solid #dbdbdb;
}

/* background color */
.bgcBlue {
    background-color: #0095f6;
}
/* background color */


/* border none */
.bn {
    border: none;
}
.bn:focus, .bn:active {
    border: none;
    box-shadow: none;
}
/* border none */


/* border width */
.btw1 {
    border-top-width: 1px;
}
.bbw1 {
    border-bottom-width: 1px;
}
/* border width */


/* border style */
.btsS {
    border-top-style: solid;
}
.bbsS {
    border-bottom-style: solid;
}
/* border style */


/* border color */
.bcBlue {
    border: #4cb5f9;
}

.btcDB {
    border-top-color: #dbdbdb;
}
.bbcDB {
    border-bottom-color: #dbdbdb;
}
/* border color */


/* border radius */
.br8 {
    border-radius: 8px;
}
.bTLr20 {
    border-top-left-radius: 20px;
}
.bTRr20 {
    border-top-right-radius: 20px;
}
.bBLr20 {
    border-bottom-left-radius: 20px;
}
.bBRr20 {
    border-bottom-right-radius: 20px;
}
/* border radius */


/* position */
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
/* position */


/* top */
.top0 {
    top: 0;
}
/* top */


/* left */
.left0 {
    left: 0;
}
/* left */


.ofc {
    object-fit: cover;
}


/* hover, active */
.hfwb:hover {
    font-weight: bold;
}
.hfcBlack:hover {
    color: black;
}
.hfcBlue:hover {
    color: #0270b8;
}
.hfcRed:hover {
    color: #b7242f;
}
.hbgcBlue:hover {
    color: white;
    background-color: #1877f2;
}
.hbgcef:hover {
    background-color: #efefef;
}
.abgcBlue:active {
    color: white !important;
    background-color: #83b3f0 !important;
}
.abgce5:active {
    color: black;
    background-color: #e5e5e5;
}

/* hover, active */


.asd:active {
    color: white !important;
    background-color: #83b3f0 !important;
}

/* flex */
.fb48 {
    flex-basis: 48px;
}
/* flex */