.side-menu
{
    width: 20%;
}

.main-content
{
    width: 80%;
}

.login-content
{
    min-height:calc(100vh - 100px);
    height:calc(100vh - 100px);
    padding: 32px 0;
}

.footer
{
    height: 100px;
}

.btn
{
    text-decoration:none;
    color:inherit;
}
