.login_phone {
    background-image: url(../files/designImg/home-phones.png);
    flex-basis: 380.32px;
    height: 581.15px;
    background-position: -28px 0;
    position: relative;
    top: 100px;
}
.login_phone_img {
    margin-bottom: 12px;
    margin-right: 32px;
}

.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    max-width: 350px;
}

.login_box {
    position: fixed;
}

.btn_login {
    background-color: #0095f6;
    font-weight: bold;
    color: white;
    height: 35px;
}
.btn_login:hover {
    background-color: #1877f2;
}