.side_menu {
    width: 350px;
    position: fixed;
}

.side_bar {
    width: 350px;
}

.btn-create
{
    text-decoration:none;
    color:inherit;
}

.btn_side_menu {
    border: none;
    background-color: transparent;
}

.sm_logo {
    padding-top: 25px;
    padding-bottom: 16px;
    margin-bottom: 19px;
}

.sm_logo_img {
    background-image: url(../files/designImg/Logo.png);
    background-position: 0 -52px;
    background-repeat: no-repeat;
    width: 200px;
    height: 52px;
    display: inline-block;
}

.logo_layout {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
    margin: auto;
}

.small-menu_btn
{
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.menu_list, .dropdown_menu_list, .search-list, .offCanvas_img {
    margin: 8px 0 8px 0;
    padding: 12px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 8px;
}
.menu_list:hover, .offCanvas_img:hover, .small-menu_btn:hover {
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
}

.menu_list_text {
    color: black;
    text-decoration: none;
    padding-left: 16px;
    display: inline-flex;
}
.menu_list_text:hover {
    color: black;
}

.img:hover svg,
.img:hover img { /* svg, img 이미지 확대 효과 적용 */
    transform: scale(1.07);
    transition: transform 0.1s ease;
}


/*   dropdown css   */
.drop_btn {
    background-color: transparent;
    color: black;
    border: none;
}
.drop_btn:hover, .dropdown-toggle:not(.active):focus, .dropdown-toggle:not(.show), .dropdown-toggle.active, .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: black;
}

.dropup .dropdown-toggle::after {
    border: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: transparent;
    color: black;
}

.dropdown-menu {
    padding: 8px;
    width: 300px;
    border-radius: 8px;
}

.dropdown_list {
    padding: 10px 15px 10px 15px;
}

.dropdown_list_text {
    font-size: 14px;
    padding-left: 5px;
}

.drop_list_text:hover {
    font-weight: bold;
}

.dropdown_change_line, .dropdown_logout_line {
    height: 6px;
    margin: 8px -8px 8px -8px;
    background-color: #f2f2f2;
}

.dropdown_logout_line {
    height: 0.5px;
}
/*   dropdown css   */


/* offcanvas */
.menu {
    display: block;
    width: 350px;
    background-color: white;
    color: black;
    transition: all 0.5s ease;
    border-right: 1px solid #dbdbdb;

    height: 100vh;
    min-height: 100vh;
    padding: 8px 12px 20px 12px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a, .menu > label {
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.expand-menu{
    display: none;
}

.menu:has(.expand-menu:checked)
{
    width: 4.5rem;
}

.menu:has(.expand-menu:checked) .menu_text{
    display: none;
}

.menu:has(.expand-menu:checked) .logo_img{
    display: none;
}

.menu:not(:has(.expand-menu:checked)) .logo-svg
{
    display: none;
}

.logo-svg
{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 19px;
}
/* offcanvas */






