.modal{
    overflow: hidden;
}

.noneBtn{
    text-decoration:none;
    color:inherit;
}

.hidden{
    display: none;
}

.modal-body .modalInfo {
    height: 800vh;
    overflow-y: auto; /* 세로 스크롤 적용 */
}

.content-container {
    white-space: pre-wrap;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 45px;
}

.show-more-btn {
    cursor: pointer;
    color: inherit;
}

.comment-container .commentBtn {
    visibility: hidden;
}

.comment-container:hover .commentBtn {
    visibility: visible;
}

.recomment-container .recommentBtn {
    visibility: hidden;
}

.recomment-container:hover .recommentBtn {
    visibility: visible;
}

.popover {
    padding: 0;
    margin: 0;
    width: 500px;
    height: 200px;
}