.noneBtn{
    text-decoration:none;
    color:inherit;
}

.hidden{
    display: none;
}

.modal-body .modalInfo {
    height: 800vh;
    overflow-y: auto; /* 세로 스크롤 적용 */
}

.content-container {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.show-more-btn {
    cursor: pointer;
    color: blue;
}